.progressbar {
  --uiProgressbarSize: var(--progressbarSize);
  --uiProgressbarCircumference: var(--cProgressCircumference, 2.51327em);
  --uiProgressbarValue: var(--progressbarValue, 0);
  --uiProgressbarGraphValue: var(
    --cProgressGraphValue,
    calc(
      var(--uiProgressbarCircumference) -
        (var(--uiProgressbarValue) * var(--uiProgressbarCircumference) / 100)
    )
  );

  position: relative;
  width: var(--uiProgressbarSize);
  height: var(--uiProgressbarSize);

  animation-name: progressbar;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes progressbar {
  0% {
    --progressbarValue: 0;
    --progressbarCaptionValue: "0";
  }
  1% {
    --progressbarValue: 1;
    --progressbarCaptionValue: "1";
  }
  2% {
    --progressbarValue: 2;
    --progressbarCaptionValue: "2";
  }
  3% {
    --progressbarValue: 3;
    --progressbarCaptionValue: "3";
  }
  4% {
    --progressbarValue: 4;
    --progressbarCaptionValue: "4";
  }
  5% {
    --progressbarValue: 5;
    --progressbarCaptionValue: "5";
  }
  6% {
    --progressbarValue: 6;
    --progressbarCaptionValue: "6";
  }
  7% {
    --progressbarValue: 7;
    --progressbarCaptionValue: "7";
  }
  8% {
    --progressbarValue: 8;
    --progressbarCaptionValue: "8";
  }
  9% {
    --progressbarValue: 9;
    --progressbarCaptionValue: "9";
  }
  10% {
    --progressbarValue: 10;
    --progressbarCaptionValue: "10";
  }
  11% {
    --progressbarValue: 11;
    --progressbarCaptionValue: "11";
  }
  12% {
    --progressbarValue: 12;
    --progressbarCaptionValue: "12";
  }
  13% {
    --progressbarValue: 13;
    --progressbarCaptionValue: "13";
  }
  14% {
    --progressbarValue: 14;
    --progressbarCaptionValue: "14";
  }
  15% {
    --progressbarValue: 15;
    --progressbarCaptionValue: "15";
  }
  16% {
    --progressbarValue: 16;
    --progressbarCaptionValue: "16";
  }
  17% {
    --progressbarValue: 17;
    --progressbarCaptionValue: "17";
  }
  18% {
    --progressbarValue: 18;
    --progressbarCaptionValue: "18";
  }
  19% {
    --progressbarValue: 19;
    --progressbarCaptionValue: "19";
  }
  20% {
    --progressbarValue: 20;
    --progressbarCaptionValue: "20";
  }
  21% {
    --progressbarValue: 21;
    --progressbarCaptionValue: "21";
  }
  22% {
    --progressbarValue: 22;
    --progressbarCaptionValue: "22";
  }
  23% {
    --progressbarValue: 23;
    --progressbarCaptionValue: "23";
  }
  24% {
    --progressbarValue: 24;
    --progressbarCaptionValue: "24";
  }
  25% {
    --progressbarValue: 25;
    --progressbarCaptionValue: "25";
  }
  26% {
    --progressbarValue: 26;
    --progressbarCaptionValue: "26";
  }
  27% {
    --progressbarValue: 27;
    --progressbarCaptionValue: "27";
  }
  28% {
    --progressbarValue: 28;
    --progressbarCaptionValue: "28";
  }
  29% {
    --progressbarValue: 29;
    --progressbarCaptionValue: "29";
  }
  30% {
    --progressbarValue: 30;
    --progressbarCaptionValue: "30";
  }
  31% {
    --progressbarValue: 31;
    --progressbarCaptionValue: "31";
  }
  32% {
    --progressbarValue: 32;
    --progressbarCaptionValue: "32";
  }
  33% {
    --progressbarValue: 33;
    --progressbarCaptionValue: "33";
  }
  34% {
    --progressbarValue: 34;
    --progressbarCaptionValue: "34";
  }
  35% {
    --progressbarValue: 35;
    --progressbarCaptionValue: "35";
  }
  36% {
    --progressbarValue: 36;
    --progressbarCaptionValue: "36";
  }
  37% {
    --progressbarValue: 37;
    --progressbarCaptionValue: "37";
  }
  38% {
    --progressbarValue: 38;
    --progressbarCaptionValue: "38";
  }
  39% {
    --progressbarValue: 39;
    --progressbarCaptionValue: "39";
  }
  40% {
    --progressbarValue: 40;
    --progressbarCaptionValue: "40";
  }
  41% {
    --progressbarValue: 41;
    --progressbarCaptionValue: "41";
  }
  42% {
    --progressbarValue: 42;
    --progressbarCaptionValue: "42";
  }
  43% {
    --progressbarValue: 43;
    --progressbarCaptionValue: "43";
  }
  44% {
    --progressbarValue: 44;
    --progressbarCaptionValue: "44";
  }
  45% {
    --progressbarValue: 45;
    --progressbarCaptionValue: "45";
  }
  46% {
    --progressbarValue: 46;
    --progressbarCaptionValue: "46";
  }
  47% {
    --progressbarValue: 47;
    --progressbarCaptionValue: "47";
  }
  48% {
    --progressbarValue: 48;
    --progressbarCaptionValue: "48";
  }
  49% {
    --progressbarValue: 49;
    --progressbarCaptionValue: "49";
  }
  50% {
    --progressbarValue: 50;
    --progressbarCaptionValue: "50";
  }
  51% {
    --progressbarValue: 51;
    --progressbarCaptionValue: "51";
  }
  52% {
    --progressbarValue: 52;
    --progressbarCaptionValue: "52";
  }
  53% {
    --progressbarValue: 53;
    --progressbarCaptionValue: "53";
  }
  54% {
    --progressbarValue: 54;
    --progressbarCaptionValue: "54";
  }
  55% {
    --progressbarValue: 55;
    --progressbarCaptionValue: "55";
  }
  56% {
    --progressbarValue: 56;
    --progressbarCaptionValue: "56";
  }
  57% {
    --progressbarValue: 57;
    --progressbarCaptionValue: "57";
  }
  58% {
    --progressbarValue: 58;
    --progressbarCaptionValue: "58";
  }
  59% {
    --progressbarValue: 59;
    --progressbarCaptionValue: "59";
  }
  60% {
    --progressbarValue: 60;
    --progressbarCaptionValue: "60";
  }
  61% {
    --progressbarValue: 61;
    --progressbarCaptionValue: "61";
  }
  62% {
    --progressbarValue: 62;
    --progressbarCaptionValue: "62";
  }
  63% {
    --progressbarValue: 63;
    --progressbarCaptionValue: "63";
  }
  64% {
    --progressbarValue: 64;
    --progressbarCaptionValue: "64";
  }
  65% {
    --progressbarValue: 65;
    --progressbarCaptionValue: "65";
  }
  66% {
    --progressbarValue: 66;
    --progressbarCaptionValue: "66";
  }
  67% {
    --progressbarValue: 67;
    --progressbarCaptionValue: "67";
  }
  68% {
    --progressbarValue: 68;
    --progressbarCaptionValue: "68";
  }
  69% {
    --progressbarValue: 69;
    --progressbarCaptionValue: "69";
  }
  70% {
    --progressbarValue: 70;
    --progressbarCaptionValue: "70";
  }
  71% {
    --progressbarValue: 71;
    --progressbarCaptionValue: "71";
  }
  72% {
    --progressbarValue: 72;
    --progressbarCaptionValue: "72";
  }
  73% {
    --progressbarValue: 73;
    --progressbarCaptionValue: "73";
  }
  74% {
    --progressbarValue: 74;
    --progressbarCaptionValue: "74";
  }
  75% {
    --progressbarValue: 75;
    --progressbarCaptionValue: "75";
  }
  76% {
    --progressbarValue: 76;
    --progressbarCaptionValue: "76";
  }
  77% {
    --progressbarValue: 77;
    --progressbarCaptionValue: "77";
  }
  78% {
    --progressbarValue: 78;
    --progressbarCaptionValue: "78";
  }
  79% {
    --progressbarValue: 79;
    --progressbarCaptionValue: "79";
  }
  80% {
    --progressbarValue: 80;
    --progressbarCaptionValue: "80";
  }
  81% {
    --progressbarValue: 81;
    --progressbarCaptionValue: "81";
  }
  82% {
    --progressbarValue: 82;
    --progressbarCaptionValue: "82";
  }
  83% {
    --progressbarValue: 83;
    --progressbarCaptionValue: "83";
  }
  84% {
    --progressbarValue: 84;
    --progressbarCaptionValue: "84";
  }
  85% {
    --progressbarValue: 85;
    --progressbarCaptionValue: "85";
  }
  86% {
    --progressbarValue: 86;
    --progressbarCaptionValue: "86";
  }
  87% {
    --progressbarValue: 87;
    --progressbarCaptionValue: "87";
  }
  88% {
    --progressbarValue: 88;
    --progressbarCaptionValue: "88";
  }
  89% {
    --progressbarValue: 89;
    --progressbarCaptionValue: "89";
  }
  90% {
    --progressbarValue: 90;
    --progressbarCaptionValue: "90";
  }
  91% {
    --progressbarValue: 91;
    --progressbarCaptionValue: "91";
  }
  92% {
    --progressbarValue: 92;
    --progressbarCaptionValue: "92";
  }
  93% {
    --progressbarValue: 93;
    --progressbarCaptionValue: "93";
  }
  94% {
    --progressbarValue: 94;
    --progressbarCaptionValue: "94";
  }
  95% {
    --progressbarValue: 95;
    --progressbarCaptionValue: "95";
  }
  96% {
    --progressbarValue: 96;
    --progressbarCaptionValue: "96";
  }
  97% {
    --progressbarValue: 97;
    --progressbarCaptionValue: "97";
  }
  98% {
    --progressbarValue: 98;
    --progressbarCaptionValue: "98";
  }
  99% {
    --progressbarValue: 99;
    --progressbarCaptionValue: "99";
  }
  100% {
    --progressbarValue: 100;
    --progressbarCaptionValue: "100";
  }
}

.progressbar__caption {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  font-family: var(--progressbarCaptionFontFamily);
  font-weight: var(--progressbarCaptionFontWeight);
  font-size: var(--progressbarCaptionFontSize);
  color: var(--progressbarCaptionColor);
}

.progressbar__caption::before {
  content: var(--progressbarCaptionValue, "0");
}

.progressbar__caption::after {
  content: var(--progressbarUnit, "%");
}

.progressbar__graph {
  font-size: var(--uiProgressbarSize);
  width: 1em;
  height: 1em;

  position: absolute;
  transform: rotate(-90deg);
}

.progressbar__circle {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.progressbar__graph-bg {
  opacity: 0.2;
}

.progressbar__graph-value {
  stroke-dasharray: var(--uiProgressbarCircumference);
  stroke-dashoffset: var(--uiProgressbarGraphValue);
  transition: stroke-dashoffset 1.5s cubic-bezier(0.42, 0, 0, 1.1);
}

/*
  =====
  SETTINGS
  =====
  */

.progressbar {
  --progressbarUnit: "%";
  --progressbarSize: 270px;
  --progressbarGraphColor: #7eecae;
  --progressbarCaptionFontFamily: inherit;
  --progressbarCaptionFontSize: 2rem;
  --progressbarCaptionFontWeight: 700;
  --progressbarGraphStrokeWidth: 10px;
  --progressbarCaptionColor: #7eecae;
}

/*
  =====
  DEMO
  =====
  */

body {
  margin: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans,
    Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #312d2d;
}

.page {
  position: relative;
}
